:host {
    width: 150px;

    display: flex;
    flex-direction: column;

    gap: 20px;
    padding: 1%;
    border: 1px solid rebeccapurple;

    section {
        display: flex;
        flex-direction: column;

        &#container-amount, &#container-speed {
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;

            p {
                font-size: larger;
            }
        }

        &.container-buttons {
            gap: 5px;
        }
    }

    input {
        width: 100%;
        height: 25px;

        color: white;
        outline: none;
        padding: 1.5%;
        background-color: rebeccapurple;
    }

    button {
        color: white;

        &.mat-stroked-button {
            color: red;
            border: 1px solid rebeccapurple;
        }

        &.not-selected {
            background-color: rebeccapurple;
        }

        &.selected {
            background-color: transparent;
            border: 1px solid rebeccapurple;
        }
    }
}
