<section id="container-amount">
    <p>Amount</p>
    <input matInput type="number" min="1" max="15" [(ngModel)]="this.Amount">
</section>
<section class="container-buttons">
    <button mat-raised-button (click)="AlgorithmsSelected = algorithm" [ngClass]="getClassButton(algorithm)"
        *ngFor="let algorithm of _menuService.algorithms">{{
        algorithm }}</button>
</section>
<section class="container-buttons">
    <button mat-raised-button (click)="this.start()" color="accent">Sort</button>
    <button mat-raised-button (click)="this.pause()" color="accent">Pause</button>
    <button mat-stroked-button (click)="this.reset()" color="accent">Reset / New</button>
</section>
