@use '@angular/material' as mat;

@include mat.core();
@include mat.strong-focus-indicators();

$light-primary: mat.define-palette(mat.$indigo-palette);
$light-accent: mat.define-palette(mat.$pink-palette);
$light-theme: mat.define-light-theme((color: (primary: $light-primary,
                accent: $light-accent,
            )));

@include mat.core-theme($light-theme);
@include mat.button-theme($light-theme);

* {
    border: 0px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

app-root {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}
