<div id="container-menu">
    <section id="container-algorithms" class="container-buttons">
        <p>Algorithms</p>
        <button mat-raised-button (click)="AlgorithmsSelected = algorithm" [ngClass]="getClassButton(algorithm)"
            *ngFor="let algorithm of _menuService.algorithms">{{
            algorithm }}</button>
    </section>

    <section id="container-speed">
        <p>Speed <b>{{this.Speed}}%</b></p>
        <mat-slider step="1" min="1" max="100" value="100" [(ngModel)]="this.Speed">
        </mat-slider>
        <p>Amount <b>{{this.Amount}}</b></p>
        <mat-slider tickInterval="1" step="1" min="1" max="15" value="10" [(ngModel)]="this.Amount">
        </mat-slider>
    </section>

    <section id="container-options" class="container-buttons">
        <button mat-raised-button [disabled]="this.isStarted" (click)="this.start()" color="accent">{{ !this.isPaused ? "Start" : "Resume" }}</button>
        <button mat-raised-button [disabled]="!this.isStarted" (click)="this.pause()" color="accent">Pause</button>
        <button mat-stroked-button (click)="this.new()" color="accent">New</button>
    </section>
</div>
