:host {
    * {
        margin: 0px;
        border: 0px;
        padding: 0px;
        outline: none;
        box-sizing: border-box;
    }

    padding: 1%;
    width: 150px;
    border: 1px solid rebeccapurple;

    div#container-menu {
        display: flex;
        flex-direction: column;

        gap: 20px;

        section {
            display: flex;
            flex-direction: column;
            align-items: center;

            &.container-buttons {
                gap: 5px;
            }

            p,
            input,
            button {
                width: 100%;
                color: white;
            }

            p {
                font-size: larger;
                text-align: center;
            }

            input {

                padding: 5%;
                background-color: rebeccapurple;
            }

            mat-slider {
                ::ng-deep {
                    * {
                        background-color: rebeccapurple;
                    }
                }
            }

            button {
                color: white;

                &.mat-stroked-button {
                    color: #e91e63;
                    border: 1px solid #e91e63;
                }

                &.selected {
                    border: 1px solid rebeccapurple;
                    background-color: rgba($color: rebeccapurple, $alpha: .40);
                }

                &.not-selected {
                    background-color: rebeccapurple;
                }
            }
        }
    }
}
